.legend-color {
  height: 20px;
  width: 20px;
  display: inline-block;
}

#legend ul {
  list-style: none;
  padding:0px;
  margin-right: 60px;
  width: 300px;
}

.selected-locations {
  list-style-type: upper-alpha;
}

#twenty-five {
  background-color: #a50f15;
}

#fifteen {
  background-color: #de2d26;
}

#three {
  background-color: #fb6a4a;
}

#one {
  background-color: #fcae91;
}

#zero {
  background-color: #fee5d9;
}

.navbar-header a{
  color: #FFE20A;
}

.navbar-inverse {
  background-color: #171A1C;
}

.map-display {
  height: 700px;
  width: 100%;
  margin-top:20px;
  margin-bottom: 20px;
}

.map-display-test {
  height: 600px;
  width: 100%;
}

#map {
  height: 100%;
}

.active {
  background-color: #0059b3;
  color: white;
}

.active:focus {
  color: white;
}

h3 {
  margin: 5px 0px 0px 0px;
}

form {
  padding: 20px;
}

.btn-landmark {
  background-color: #C500CC;
  color: white;
  outline: none !important;
}

.btn-park {
  background-color: #F50505;
  color: white;
  outline: none !important;
}

.btn-entertainment {
  background-color: #FFCC66;
  color: white;
  outline: none !important;
}

.btn-store {
  background-color: #540408;
  color: white;
  outline: none !important;
}

.btn-food {
  background-color: #32C962;
  color: white;
  outline: none !important;
}

.btn-bar {
  background-color: #5821CF;
  color: white;
  outline: none !important;
}

.btn-museum {
  background-color: #E88F00;
  color: white;
  outline: none !important;
}

.btn-hotel {
  background-color: #910101;
  color: white;
  outline: none !important;
}

.btn-other {
  background-color: #3374FF;
  color: white;
  outline: none !important;
}

.new-location {
  background-color: #006600;
  color:black;
}
