<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      {{#link-to 'index'}}<h1>Weird Portland</h1>{{/link-to}}
    </div>
    <ul class="nav navbar-nav">
    </ul>
  </div>
</nav>


  {{outlet}}

<footer>
  <div class="container">
    © 2016. Sami Al-Jamal, Patrick Lipscomb, Adam Luchini, George Olson.
  </div>
</footer>
