<h1>Hello world!</h1>

{{#each model as |location|}}
  <p>{{#link-to 'location' location.id}} {{location.name}} {{/link-to}}</p>
{{/each}}

{{google-map location=location}}

{{new-location saveLocation="saveLocation"}}
